@import url('https://fonts.googleapis.com/css?family=Gugi');


.buttons {
  display: flex;
  justify-content: center;
}

.button { 
  font-size:20px;
  color:white;
  height: 50px;
  width: 125px;
  margin: 10px;
  border-radius:25px;
  border-color:white;
  background-color: cadetblue;
  opacity: .8;
  margin-bottom: 25px;
  font-family: 'Gugi', cursive;
  letter-spacing: .1rem;
}

.button:hover {
  background-color: white;
  color:black;
  opacity: 1;
  border-style:9px solid black;
  font-weight: 800;
}

.button:active {
  background-color: green;
}